<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <input type="button" value="Abrir Mapa" onclick="open_map()">

    </h1>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    fetch("/api/check-auth", {
        method: "GET",
        credentials: "include"
    })
    .then(response => response.json())
    .then(data => {

        if (data.error) {
            window.location.href = "/login";
        }

    })
    .catch(error => {
        console.error("Erro ao verificar autenticação:", error);
        window.location.href = "/login";
    });

});
</script>

<script>
    function open_map() {
        window.location.href = "/mapa"
    }
</script>

</html>