<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>
        <form>
            <input type="text" name="EMAIL" id="email">
            <input type="text" name="PWD" id="pwd">
            <button type="button" onclick="enviar_ao_back()">Enviar</button>
        </form>
    </h1>
</body>
<script>
    function enviar_ao_back() {
        let email = document.getElementById('email').value
        let pwd = document.getElementById('pwd').value
        console.log(email)
        console.log(pwd)

        fetch('/api/post/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: "include", // 👈 ESSENCIAL
            body: JSON.stringify({
                email: email,
                pwd: pwd
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                
                if (data.status === 'success') {
                    window.location.href = '/index'
                } else {
                    document.getElementById('erro').innerText = 'Credenciais inválidas'
                }
            })
    }
</script>

</html>